.text-animate-hover {
    min-width: 10px;
    display: inline-block;
    animation-fill-mode: both;
  
    &:hover {
      animation: rubberBand 1s;
      color: #f7f7f4;
    }
  }

.about-page{
  .skill{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 50%;
    top: 15%;
    background-color: rgb(90, 130, 132);
    border-radius: 20px;
    width: 45%;
    height: 70%;
    gap: 1;
    flex-direction: column;
  }
  .icon{

    // background-color: antiquewhite;
    margin: 20px;
    padding: 20px;
    width: 80px;
    height: 80px;
  }
}